<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Dr.Emamzadeh Website - به وب سایت شخصی دکتر سید ابوالقاسم امام زاده خوش آمدید</title>
    <meta name="description" content="وب سایت شخصی دکتر ابوالقاسم امام زاده ، استاد دانشگاه - دکتری ریاضیات کاربردی - محاسبات عددی معادلات دیفرانسیل  روش وتری" />
    <meta name="keywords" content="وب سایت شخصی دکتر امام زاده ، استاد دانشگاه - دکتری ریاضیات کاربردی - محاسبات عددی معادلات دیفرانسیل  روش وتری" />
    <meta name="author" content="Dr.Emamzadeh - دکتر ابوالقاسم امامزاده" />

    <!-- Vendor Css-->
    <link rel="stylesheet" href="~/assets/css/vendor.css" />
    <link rel="stylesheet" href="~/assets/css/LineIcons.min.css" />
    <link rel="stylesheet" type="text/css" href="~/~/assets/css/photoswipe.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/default-skin.min.css" />

    <!-- Settings style Css -->
    <link href="~/assets/css/settings.css" rel="stylesheet">

    <!-- TiffanyTemplate style Css -->
    <link href="~/assets/css/theme-grey.css" rel="stylesheet">

    <!-- Custom style Css -->
    <link href="~/assets/css/custom.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar-collapse">


    <!-- START: Preloader -->
    <div id="preloader" class="preloader">
        <div class="spinner">
            <div class="spinner-grow" role="status">
            </div>
            <span class="sr-only">شکیبایی کنید...</span>
        </div>
        <div class="preloader-screens">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- END: Preloader -->
    <!-- START: Aside -->
    @await Component.InvokeAsync("Menu")
    <!-- START: Aside -->

    <div class="page-wrapper section-dark">

        @RenderBody()

        <partial name="Footer" />
    </div>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element, as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPTS -->

    <script src="~/assets/js/vendor.js"></script>

    <script src="~/assets/js/parallax.min.js"></script>
    <script src="~/assets/js/photoswipe.min.js"></script>
    <script src="~/assets/js/photoswipe-ui-default.min.js"></script>


    <!-- Custom Js -->
    <script src="~/assets/js/imagesloaded.pkgd.js"></script>
    <script src="~/assets/js/jquery.shuffle.min.js"></script>
    <script src="~/assets/js/custom-shuffle-init.js"></script>
    <script src="~/assets/js/pswp.js"></script>
    <script src="~/assets/js/textition.min.js"></script>

    <script src="~/assets/js/custom.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>

