<section class="section section-about " id="home">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-7">
                <div class="hero-right mt-5 mt-md-0 text-center" data-wow-delay="300ms">
                    <h5>سلام !</h5>
                    <h2 class="my-4">
                        <span>وب سایت شخصی</span>
                        <span>دکتر سید ابوالقاسم امام زاده</span>
                    </h2>
                    <p>این سایت جهت اطلاع رسانی و همرسانی مطالب علمی و دوره های آموزشی و همچنین به اشتراک گذاری اطلاعات مربوطه طراحی و ایجاد گردیده است. در صورتی که هرگونه پیشنهاد و یا انتقاد نسبت به سایت دارید، در بخش «تماس با من»، مطلب مربوطه را به اشتراک گذارید.</p>
                    <div class="hero-right--btns my-4">
                        @*<a target="_blank" href="https://linkedin.com/" class="btn btn-link">بیشتر بدانید</a>*@
                        <a href="#resume" class="btn ripple">بیشتر...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
