<section class="section" id="blog">
    <div class="container">
        <div class="section-head">
            <span>فایل ها و محتوای آموزشی</span>
            <h2>فایلها، نمونه سوالات و محتوای آموزشی</h2>
        </div>

        <div class="section-inner">
            <div class="row">
                <div class="col-md-4">
                    <a asp-controller="Files" asp-action="Index" asp-route-id="1" class="blog-list d-block mb-5 ">
                        <div class="blog-list--img">
                            <img src="~/assets/images/blog-1.jpg" alt="Blog Image" class="img-fluid">
                            <div class="blog-list--details d-flex justify-content-center align-items-center">
                                <div class="blog-list--details-in">
                                    <p class="blog-date text-white">نمونه سوالات</p>
                                    <span class="blog-by">در این بخش نمونه سوالات نیمسال های گذشته جهت دانلود قرار دارد.</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-list--desc p-4">
                            <span class="blog-cat badge badge-primary">فایل های نمونه آزمون ها</span>
                            <h3>دانشجویان گرامی با دانلود نمونه سوالات امکان تعیین سطح و تمرین را خواهند داشت. سوالات آزمون پایانی بصورت استاندارد  و در چارچوب سرفصل های تدریس شده طراحی خواهند گشت.</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Files" asp-action="Index" asp-route-id="2" class="blog-list d-block mb-5 ">
                        <div class="blog-list--img">
                            <img src="~/assets/images/blog-2.jpg" alt="Blog Image" class="img-fluid">
                            <div class="blog-list--details d-flex justify-content-center align-items-center">
                                <div class="blog-list--details-in">
                                    <p class="blog-date text-white">محتوای آموزشی</p>
                                    <span class="blog-by">در این بخش محتوای آموزشی شامل فایل های اسلاید قرار دارد.</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-list--desc p-4">
                            <span class="blog-cat badge badge-success">اسلاید ها و مطالب ارائه شده</span>
                            <h3>در این بخش دانشجویان به محتوای آموزشی دوره ها نظیر فایل های ارائه یا فایلهای تصویری و صوتی مربوطه به عنوان محتوای آموزشی دسترسی خواهند داشت.</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a asp-controller="Files" asp-action="Index" asp-route-id="3" class="blog-list d-block mb-5 ">
                        <div class="blog-list--img">
                            <img src="~/assets/images/blog-3.gif" alt="Blog Image" class="img-fluid">
                            <div class="blog-list--details d-flex justify-content-center align-items-center">
                                <div class="blog-list--details-in">
                                    <p class="blog-date text-white">فایل های قابل دانلود</p>
                                    <span class="blog-by">در این بخش فایل های مرتبط با محتوای آموزشی قرار خواهند گرفت.</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-list--desc p-4">
                            <span class="blog-cat badge badge-danger">فایل های کاربردی</span>
                            <h3>در این بخش دانشجویان به فایل هایی نظیر تمرین های ارائه شده یا برنامه های کامپیوتری و کتاب های مورد نیاز دسترسی خواهند داشت.</h3>
                        </div>
                    </a>
                </div>
            </div>

            @*<div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="blog.html" class="btn">مشاهده بیشتر</a>
                    </div>
                </div>*@

        </div>
    </div>
</section>
