        <!--START: FOOTER-->
<footer class="footer section section-light">
    <div class="container">
        <p class="copyright text-center mb-0">&copy; کلیه حقوق این وب سایت محفوظ و متعلق به آقای دکتر سید ابوالقاسم امام زاده می باشد.</p>
        <p class="copyright text-center mb-0">هرگونه استفاده از مطالب و فایل های موجود در این وب سایت با ذکر منبع مجاز می باشد.</p>
    </div>
</footer>
<!--END: FOOTER-->
